@page
@model Shop.Pages.ProductsModel
@{
    ViewData["Title"] = "Product";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true">

<div id="login" style="display:none">
    @if (Request.Cookies["login"] != null)
    {
        @Request.Cookies["login"]
    }
</div>

<input type="text" id="category" value=@Model.category required style="display:none;">

<center> <h1> Product </h1> </center>
<div class="content">
    <form asp-page="/Products" id="addform" method="post">
        <div class="container">
            <label>Product name: </label>
            <input type="text" placeholder="Enter Product name" name="productname" required minlength="3" maxlength="40">
            <label>Price: </label>
            <input type="number" placeholder="Enter Price" name="price" required min="1" max="500">
            <label>Image name: </label>
            <input type="text" placeholder="Enter Image Name" name="imagename" required minlength="5" maxlength="50">
            <label>Info: </label>
            <input type="text" placeholder="Enter Info" name="info" required minlength="5" maxlength="200">
            <label>Category Name: </label>
            <input type="text" placeholder="Enter Category Name" name="categoryname" required minlength="3" maxlength="40">
             <button class="submitbtn" type="submit">Add</button>
        </div>
    </form>
</div>

<script src="~/js/product.js" asp-append-version="true"></script>