@page
@model Shop.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true"> 

<center> <h1> Register </h1> </center> 
<div class="content">
     <form asp-page="/Register" method="post">  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required minlength="5" maxlength="15">  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required minlength="5">  
            <label>Email : </label>   
            <input type="email" placeholder="Enter Email" name="email" required>  
            <button class="registerbtn" type="submit">Register</button>
        </div>   
    </form>   
</div>